html,
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(31, 29, 29);
    color: #ffffff;
    margin: 10px;
    line-height: 1em;
    text-align: center;
    height: 100%;
}

* {
    box-sizing: border-box;
}


/* text styling */
.bold {
    font-weight: bold;
}

.desc {
    color: #bb9f9f;
    text-decoration: none;
}

.section-title {
    text-align: left;
    font-size: larger;
    margin-left: 20px;
}

a {
    color: #ffffff;
    text-align: top;
    text-decoration: none;
}

.logo {
    width: 36px;
    height: 36px;
}

/* Header section  */
.nav__list {
    list-style: none;
}

.nav__item:hover {
    list-style: none;
    background-color: #030303;
}

.nav__item {
    padding: 8px;
}

.nav {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    margin: 0px;
}

.nav__list {
    margin: 0px;
    padding: 0px;

}
button {
    background-color: rgb(41, 38, 38);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
}

/* Intro section CSS Properties */

.profile-img {
    height: 150px;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 3px 3px 5px rgb(104, 91, 91);
}

#position {
    background-color: rgb(253, 35, 35);
    padding: 0.35em;
    color: rgb(37, 34, 34);
}


.summary {
    padding: 10px;
}

section.intro {
    display: flex;
    justify-content: center;
    padding: 60px;
    flex-wrap: wrap;
}

/* Project section CSS properties */

.cotainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.card {
    display: block;
    background-color: rgb(41, 38, 38);
    margin: 1rem .25em;
    padding: 15px;
    min-width: 300px;
}

.link-with-icon{
    padding: 5px;
    margin: 5px;
}
/* About me section details */
#article-about-me {
    display: flex;
    flex: 1;
}

/* footer section with socials */
.social-list {
    padding: 50px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: end;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Fancy additions */

.zoom {
    transition: transform .2s;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }